body {
  background-color: #242428;
  background-image: url(img_assets/tree.png);
  background-attachment: scroll;
  background-position: 40% 0%;
  background-size: 1500px 900px;
  background-repeat: no-repeat;
  color: rgb(200, 200, 200);
}


.bouton {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.bouton:hover {
  background-color: #4caf50;
}

.select-css {
  background-color: #333;
  color: white;
}

/* Menu */

nav.menu ul {
  padding: 0;
  margin: 0;
}

nav.menu ul li {
  list-style: none;
}

nav.menu ul li a {
  padding: 10px;
  font-size: 15px;
  margin-right: 10px;
}

.menu li a:hover {
  border-bottom: 3px solid;
}
nav.menu ul li ul {
  display: none;
} /* Rend le menu déroulant caché par défaut */

nav.menu ul li:hover ul {
  z-index: 99999;
  display: list-item !important;
  position: absolute;
  margin-top: 1px;
  margin-left: -10px;
}

.droite {
  float: right;
}

.nom {
  margin-right: 50px;
  text-decoration: none;
}

.gauche {
  float: left;
  vertical-align: middle;
}

nav.menu ul li:hover ul li {
  float: none;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #4caf50;
}

/* Menu */

h1 {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}
h2 {
  text-align: center;
}
/* BARRE DU HAUT */

/* BARRE DU HAUT */

/* .paragraphe {
  display: block;
  margin: 10px;
}
.paragraphe span {
  display: block;
  float: right;
  margin-left: 10px;
} */

table {
  width: 99%;
  height: 650px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
table td {
  vertical-align: baseline;
}
.left {
  text-align: left;
  /* border: 1px solid white; */
  width: 30%;
}
.centered {
  text-align: center;
  /* border: 1px solid white; */
  width: 30%;
}
.right {
  text-align: right;
  /* border: 1px solid white; */
  width: 30%;
}
.return {
  line-height: -3em;
  font-size: 10pt;
  font-family: Monospace; /* */
  white-space: pre;
  color: white;
  /* text-align: var(alignement); */
}

.Params {
  height: 500px;
  /* border: 1px solid white; */
}
.Ascii {
  text-align: center;
}
label {
  font: Times;
}
fieldset {
  width: 15px 15px;
  display: inline;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgb(200, 200, 200);
}

.select-css option {
  font-weight: bold;
}
.select-css {
  background-color: #242428;
  color: "option[value]";
}

[value="black"] {
  color: black;
}
[value="red"] {
  color: red;
}
[value="purple"] {
  color: purple;
}
[value="blue"] {
  color: blue;
}
[value="cyan"] {
  color: cyan;
}
[value="green"] {
  color: green;
}
[value="yellow"] {
  color: yellow;
}
[value="white"] {
  color: white;
}
