<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="./assets/profile.css" />
	<title>Mattéo Ferreira</title>
	<link rel="shortcut icon" href="assets/img_assets/profile.png">
</head>

<body>
	<!-- BARRE DU HAUT */ -->
	
	<nav class="menu">
		<ul>
			<li class="gauche"><a href="https://git.ytrack.learn.ynov.com/MMOURGUES/Ascii-Art-Web" rel="noopener noreferrer"
					target="_blank"> <img src="assets/img_assets/Gitea_Logo.png" width="15" title="Le lien du GitHub par ici!"></a>
			</li>
			<li class="gauche"><a href="/">Acceuil</a></li>
			<!-- Début du menu déroulant -->
			<li class="droite"><a href="#">Ascii-Art crée par :</a>
				<ul>
					<li class="nom"><a action="/Mattéo" href="Mattéo">Mattéo FERREIRA</a></li>
					<li class="nom"><a action="/Maxime" href="Maxime">Maxime MOURGUES</a></li>
					<li class="nom"><a action="/Costa" href="Costa">Costa REYPE</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<h1> {{ .Name }} </h1>
	<table>
        <tr>
            <td class='left'>
                <h2>
                    Mes difficultés rencontrées: 
                </h2>
                <p>
                    <h3><i>Début du Projet :</i></h3><br><br>
                    Comme mes camarades, je ne connaissais absolument pas l'HTML et le CSS donc nous avons dû apprendre ! <br> <br>
                    <h3><i>Projet en cours :</i></h3> <br> <br>
                    J'ai eu beaucoup, beaucoup, beaucoup de difficultés à créer la magnifique barre horizontale qui affiche l'Acceuil et nos superbes pages. <br>
                    <a href="/Costa" style="color: rgb(29, 79, 230)">@Tamashi</a> est donc venu à ma rescousse. <br> <br>
                    <h3><i>Projet Global :</i></h3> <br> <br>
                    <a href="/Maxime" style="color: green;">@Maximauve_</a> a su comprendre l'HTML et résoudre nos soucis, même si on a beaucoup dérangé nos mentors pour avoir des informations.
                </p>
            </td>
            <td class='centered'>
                <br>
            </td>
            <td class='right'>
                <a href="https://www.instagram.com/mister_matt40/" rel="noopener noreferrer" target="_blank">
                <img class="pp" src="assets/img_assets/Matt&O.jpg" title="Les papillons, ca donne un style"></a>
                <h2>
                    Présentation: 
                </h2>
                <p>
                    <!--Nom: FERREIRA<br><br>
				    Prénom: Mattéo <br><br>
				    Pseudo: Mattox  <br><br>
				    Age: 18 ans  <br><br>
                    Profession Visée: Game Devellopper / Developper <br><br>-->
                    
                    Hey, moi c'est Mattéo mais on m'appelle Mattox <br>
                    J'ai 18 ans, et franchement je suis bien content d'être majeur <small>Coucou Maxime !</small> <br>
                    Des passions ? J'aime coder évidemment <strong>(proprio d'un bot discord)</strong> mais il y a aussi <br> 
                    une grosse part de jeux vidéos qui occupent mes journées <br> 
                </p>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>