<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./assets/profile.css" />
    <title>Maxime Mourgues</title>
    <link rel="shortcut icon" href="assets/img_assets/profile.png" >
  </head>
	
  <body>
		<!-- BARRE DU HAUT */ -->
		
		<nav class="menu">
			<ul>
				<li class="gauche"><a href="https://git.ytrack.learn.ynov.com/MMOURGUES/Ascii-Art-Web" rel="noopener noreferrer"
						target="_blank"> <img src="assets/img_assets/Gitea_Logo.png" width="15" title="Le lien du GitHub par ici!"></a>
				</li>
				<li class="gauche"><a href="/">Acceuil</a></li>
				<!-- Début du menu déroulant -->
				<li class="droite"><a href="#">Ascii-Art crée par :</a>
					<ul>
						<li class="nom"><a action="/Mattéo" href="Mattéo">Mattéo FERREIRA</a></li>
						<li class="nom"><a action="/Maxime" href="Maxime">Maxime MOURGUES</a></li>
						<li class="nom"><a action="/Costa" href="Costa">Costa REYPE</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<h1> {{ .Name }} </h1>
		<table>
			<tr>
				<td class='left'>
					<h2>
						Mes difficultés rencontrées: 
					</h2>
					<h3><i>Début du Projet:</i></h3> <br><br>
					<p>
						Tout d'abord, ce fut bien sûr la découverte de l'HTML, je n'en avais jamais fait auparavant. <br><br>
						Cependant, j'ai très vite pris goût et je me suis bien amusé avec l'HTML, ce qui a bien arrangé <a href="/Costa" style="color: rgb(29, 79, 230)">@Tamashi</a>
					</p> <br>
					<h3><i>Déroulement du projet:</i></h3> <br><br>
					<p>
						Bon, travailler avec ces deux zigotos n'était pas une facilité, on va pas se le cacher (surtout <a href="/Mattéo" style="color: yellow;">@Mattox</a>) <br><br>
						Blague à pars, mes principales difficultées ont été de découvrir l'HTML et le CSS, mais j'ai su y faire face assez facilement, en explorant des documentations. <br>
					</p>
				</td>
				<td class='centered'>
					<br>
				</td>
				<td class='right'>
					<a href="https://www.instagram.com/maximauve_/" rel="noopener noreferrer" target="_blank">
					<img class="pp" src="assets/img_assets/Maksim.png" title="On va pas se mentir, cette couleur de cheveux est exeptionelle tout de même">
					</a>
					<br>
					<h2>
						Présentation:
					</h2>
					<p>
						Salut! Moi c'est Max, plus connu (ou pas) sous le nom de <span style="color:green;">Maximauve_</span> <br><br>
					
						J'ai 17 ans (oui je suis un enfant), j'habite au fin fond de la campagne donc parfois travailler en ligne c'est pas la
						joie (: <br> <br>
					
						Je compte devenir Game Developper, mais ça ne m'empêche pas d'apprécier les différents projets que nous faisons!
					
					</p>
				</td>
			</tr>
		</table>
  </body>
</html>